<%- include('./header') %>
  <div id="root">
    <div class="body-wrap" style="">
      <main class="main">
        <div class="middle-section ms-width">
          <div class="Home-wrapper">
            <%- include('./topnav') %>
              <div class="post-header-wrapper back_sec">
                <div class="back_btn"><span class="middle-header-content">Unauthorized</span></div>
              </div>
              <div style="text-align:center;">
                <h1 style="text-align:center;font-size: 180px;">401</h1>
                <h2>You are not authenticated, please click login button</h2>
              </div>
          </div>
        </div>
        <%- include('./rnav') %>
      </main>
      <%- include('./lnav') %>
    </div>
  </div>
  <%- include('./footer') %>