<%- include('./common/header') %>
<div id="root">
    <div class="body-wrap">
        <main class="main">
            <div class="middle-section ms-width">
                <div class="Home-wrapper">
                    <%- include('./common/topnav') %>
                    <div class="post-header-wrapper back_sec"><div class="back_btn"><span class="middle-header-content"> Notifications</span></div></div>
                    <div class="explore-nav-menu">
                        <div class="explore-nav-item activeTab notifications_tab">All</div>
                        <div class="explore-nav-item mentions_tab">Mentions</div>
                        <div class="explore-nav-item likes_tab">Likes</div>
                        <div class="explore-nav-item mirrors_tab">Mirrors</div>
                        <div class="explore-nav-item collects_tab">Collects</div>
                        <div class="explore-nav-item comments_tab">Comments</div>
                    </div>
                    
                </div>
            </div>
            <%- include('./common/rnav') %>
        </main>
        <%- include('./common/lnav') %>
    </div>
</div>
<%- include('./common/footer') %>