<%- include('./common/header')%>
<%	
	//console.log(post)
	const IPFS_GATEWAY = 'https://gateway.ipfscdn.io/ipfs/';
	const userHandle = (post.profile.handle).replace('.lens', "")
	const userImg = (post.profile.picture?.original?.url).replace('ipfs://', IPFS_GATEWAY);
	const contentMedia = post.metadata?.media
	const linkyfyOptions = {truncate: 26,className:'blink',nl2br:true,formatHref: {
	    hashtag: (val) => `/hashtag/${val.substr(1)}`,
		mention: (val) => `/profile/${val.substr(1)}`
	}}
%>
	<div id="root">
		<div class="body-wrap">
			<main class="main">
				<div class="middle-section ms-width">
					<div class="Home-wrapper"><%- include('./common/topnav') %>
						<div class="inner-wrapper">
	                        <div class="post-header-wrapper back_sec">
	                            <div class="back_btn">
	                                <span class="middle-header-content">Post</span>
	                            </div>
	                        </div>
	                        <div class="inner-body-wrapper">
	                            <div class="post-header-content p_relative">
	                                <div class="profile-user-pic">
	                                    <a href="/profile/<%- userHandle %>">
	                                        <% if(userImg){ %>
	                                        <img alt="" width="100%" height="49px" src="<%-userImg %>" class="home_pro_pic" />
	                                        <%}else{%>
	                                        <img alt="" width="100%" height="49px" src="https://i.postimg.cc/MZdNmMMN/user.png" class="home_pro_pic" />
	                                        <%}%>
	                                    </a>
	                                </div>
	                                <div class="profile-user-wrap user_name">
                                        	<h5><a href="/profile/<%- userHandle %>"><b><%- post.profile?.name %></b><%- userHandle %></a></h5>
											<span>@<%-userHandle %></span>
	                                </div>
									<div class="post_header-dropdown-wrap p_absolute drop_down">
										<span class="three_dot-wrapper drop_down_trigger" ><svg class="three_dot p_relative" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 16 16">
											<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
										</svg></span>

										<ul class="drop-up-menu drop_down_content" data-pointer="false">
											<li><a href="#">lorem 2	dfsf</a></li>
											<li><a href="#">Log out @mrhripon98</a></li>
										</ul>
									</div>


									<script>
										if(document.querySelector('.drop_down .drop_down_trigger') !== null) {
											function dropdownFn(e) {
												e.preventDefault();
												this.parentElement.querySelector('.drop_down_content').classList.add('show');
											}
											const dropDownWrap = document.querySelectorAll('.drop_down .drop_down_trigger');
											dropDownWrap.forEach(single=>single.addEventListener('click', dropdownFn))
										}
										// Function for hide any user dropupmenu hide on outside click 
											document.addEventListener('click', function (event) {
												const dropdownTriggers = document.querySelectorAll('.drop_down .drop_down_trigger');
												dropdownTriggers.forEach(each=>{
													if (!each.contains(event.target)) {
													document.querySelectorAll('.drop_down_content').forEach(each=>each.classList.remove('show'))
												}
												})
												
											});
									</script>
	                            </div>
	                        </div>
	                        <div class="post-content">
	                            <p><%- linkifyHtml(post.metadata?.content, linkyfyOptions) %></p>
	                        </div>
	                        <%  if(contentMedia.length !==0){  
	                            let mediaUrl = contentMedia[0].original?.url;
	                            if(mediaUrl.includes('ipfs://')){
	                                mediaUrl=mediaUrl.replace('ipfs://', IPFS_GATEWAY)
	                            } else {mediaUrl=mediaUrl} 
	                        %>
	                        <div class="post-image-wrapper">
	                            <a href="/post/<%-  %>/<%-  %>">
	                                <div class="card-image-link">
	                                    <img alt="<%- %>" src="<%- mediaUrl %>">
	                                </div>
	                            </a>
	                        </div>
	                        <%}else{}%>
	                        <div class="post-link">
	                            <p>
	                            	<%- moment(post.createdAt, 'YYYY-MM-DDTHH:mm:ss.SSS[Z]').format('lll')%> <b>.</b> Posted via <%- (post.appId).charAt(0).toUpperCase() + post.appId.slice(1)%>
	                            </p>
	                        </div>
						    <%- include('./common/postStats', {article: post}) %>
						    <div class="reply-sec">
	                        	<%- include('./common/reply', {userHandle: userHandle, userImg: userImg}) %>
	                        </div>
						    <%- include('./common/comments') %>
	                    </div>
	                </div>
				</div>
				<%- include('./common/rnav') %>
			</main>
			<%- include('./common/lnav') %>
		</div>
	</div>
<%- include('./common/footer') %>


